.spotify__top-nav {
  width: 83vw;
  height: 90px;
  background-color: #0f0f0f;
  position: fixed;
  top: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: lightgray;
  font-weight: bold;
  font-size: 18px;
}
.spotify__top-nav_focus_title{
  font-size: 20px;
}
.spotify__top-nav_auth{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}
.spotify__top-nav_auth_login{
  background-color: white;
  padding: 17px;
  border-radius: 40px;
  color: black;
  font-weight: bold;
  width: 110px;
  text-align: center;
}
